<!DOCTYPE html>

<html>

<head>

    <title>
        {% block title %}{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <h2>Flask Login App</h2>

        {% if session.username %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}

            <div class="flash-message {{ category }}">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

    {% endwith %}


    <div class="container">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>